.sign_up_form{
    width:25%;
    margin: auto;
    margin-top:3%;
}

.sign_up_title{
    width:25%;
    margin: auto;
    margin-top:2%;
}

.login_form{
    width:35%;
    margin: auto;
    margin-top:7%;
}

.table_creation_from{
    margin:auto;
    margin-top:5px;

}

.table_sticky th{
    position: sticky !important;
    top:0;
    background-color:rgba(128, 128, 128, 0.609);
    height:5px;

}
.test{
    max-height:550px;
    overflow: auto;
    
}
.table_sticky2 {
    position: sticky !important;
    bottom:0;
  
}
.border td {
    border:solid balck 1px;
}

.my_table th,td{
 padding:0px;
 margin: 0PX;
 border-radius: 0px;
 text-align:center;
 

}

.del_row{
    height:1px
}
