.sign_up_form{
    width:25%;
    margin: auto;
    margin-top:3%;
}

.sign_up_title{
    width:25%;
    margin: auto;
    margin-top:2%;
}

.login_form{
    width:35%;
    margin: auto;
    margin-top:7%;
}

.table_creation_from{
    margin:auto;
    margin-top:5px;

}