{% extends 'base.html' %}
{% load static %}
{% include 'navbar.html'%}
{% block title %}{{user.username}}'s Tables {% endblock %}

{% block content %}

<div style="display:grid; grid-template-columns: repeat(5,1fr);grid-gap:3px ;grid-template-rows: repeat(5,1fr); width:70%; margin :auto;margin-top:10px">

    {% for table in user.tables.all %}
    <div style="display:flex;flex-direction:column;padding: 15px; " class="z-depth-1">
        <p><a href="{% url 'view-table' table.pk %}">{{table.name}}</a></p>
        <a href="{% url 'delete-table' table.pk %}">Delete</a>
    </div>
    {% endfor %}

</div>

{% endblock %}