{% extends 'base.html' %}
{% load static %}
{% block title %}{{table.name}} {% endblock %}
{% block content %}
{% load custom_tags %}

{{table.name}}  <a href="{% url 'delete-table' table.pk %}">Delete</a>

<table style="margin-left: 3%;width: 70%; box-shadow: 5px,7px rgba(128, 128, 128, 0.561);" class=" responsive-table striped">
    <tr>
        <th>(action)</th>           
        
        <th style="display: flex;justify-content: center;"> Ticker </th>
          
        <th > Date </th>
        
        {% for column in table.infos.all %}
        <th style="font-size: 12px; width: 10%;"> {{column.name}} </th>           
        {% endfor %}  
    </tr>

    {% for row in table.row.all %}
    <tr>
        <td><a href="{% url 'remove-row'}"></a><i class="far fa-trash-alt"></i></td>
        <td style="display: flex;justify-content: center;">  {{row.stock}} </td>

        <td>{{row.date.date}} </td>
            
        {% for column in table.infos.all %}
            {% with field_data=row|this_better_work:column  %}
            {% if field_data.info == column %}
            <td> {{field_data.amount}}</td>
            {% endif %}
            {% endwith %}
        {% endfor %}
    </tr>
    {% endfor %}

    <tr>
        
        <form action="" method="POST">
            {% csrf_token %}
            <td style="width :5%">{{form.ticker}} </td>
            <td style="width :.1%">{{form.date}}</td>
            <td><button type="submit" class="btn-floating btn-small waves-effect waves-light blue lighten-1"><i
                        class="material-icons">add</i></button></td>
        </form>
    </tr>

</table>

{% endblock %}