{% extends 'base.html' %}
{% load static %}
{% block title %}{{table.name}} {% endblock %}
{% block content %}
{% load materializecss %}
{% load custom_tags %}

<span>{{table.name}}</span>

<div class="test">
<table style=" box-shadow: 5px,7px rgba(128, 128, 128, 0.561);" class=" responsive-table striped table_sticky my_table">
    <tr >
        <th  ></th>           
        <th> Ticker </th>
        <th  > Date </th>
        
        {% for column in table.infos.all %}
        <a href="{% url 'remove-column' table.pk column.name %}">{{column.name}}</a> </a>
        <th style="font-size: 11px;" > {{column.name}} </th>           
        {% endfor %}  
    </tr>

    
    
    <tr>
        {% for row in table.row.all %}
        <td ><a href="{% url 'remove-row' table.pk row.date.id row.stock.id %}"><i class="far fa-trash-alt del_row"></i></a></td>
        <td >  {{row.stock}}</td>

        <td >{{row.date.date}} </td>
            
        {% for column in table.infos.all %}
       
            {% with field_data=row|this_better_work:column  %}
            {% if field_data.info == column %}
            <td style="font-size:13px"> {{field_data.amount}}</td>
            {% endif %}
            {% endwith %}
        {% endfor %}
    </tr>
    {% endfor %}

    <tr>
        <td></td>
        <form action="" method="POST">
            {% csrf_token %}
            <td style="width :1%" class ='table_sticky2'> {{form.ticker}} </td>
            <td style="width :.1%" class ='table_sticky2'> {{form.date}} </td>
            <td class="table_sticky2"><button type="submit" class="btn-floating btn-small waves-effect waves-light blue lighten-1"><i class="material-icons">add</i></button></td>
                                                   
        </form>
    </tr>

</table>
</div>

{% for info in infos %}
  <a href="{% url 'add-column' table.pk info.name %}"> add _{{info.name}}</a>
{%endfor%}
<div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
      <li><a class="btn-floating green"><i class="material-icons">add</i></a></li>
      <li><a class="btn-floating orange"><i class="material-icons">remove</i></a></li>
      <li><a class="btn-floating red btn tooltipped" href="{% url 'delete-table' table.pk %}"data-position="bottom" data-tooltip="Delete table"><i class="material-icons">delete_outline</i></a></li>
    </ul>
  </div>

{% endblock %}
{% block js %}
<script type="text/javascript">

document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.fixed-action-btn');
    var instances = M.FloatingActionButton.init(elems, {
      direction: 'left',
      hoverEnabled: false
    });
  });
        
</script>
{% endblock %}